body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #636e72;
    margin: 0;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    line-height: 24px;
}

img {
    max-width: 100%;
}

.btn {
    padding: 10px 35px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
}

.btn--block {
    width: 100%;
}

.btn--primary {
    color: #f5f5f5;
    background-color: #0984e3 !important;
}

.btn--warning {
    color: #f5f5f5;
    background-color: #e8684e !important;
}

.box {
    padding: 20px 20 0px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.box__description {
    padding: 0 0 10px;
}

input {
    padding: 10px 2%;
    border: 1px solid #ddd;
}

input:focus {
    border: 1px solid #0f52ba;
}

.input--block {
    width: 96% !important;
    margin: 10px 0;
}

.navbar {
    width: 100%;
    padding: 12px 0;
    background-color:#f0f0f0;
    position: fixed;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    top: 0;
}

.navbar__logo {
    width: 100px;
    height: 100%;
    position: absolute;
    font-size: 25px;
    left: 15px;
    top: 10px;
}
.navbar__logo i {
    vertical-align: middle;
}

.navbar__body {
    margin: 0 auto;
}

.font--normal {
    font-weight: normal;
}

.form.form--inline {
    display: inline-flex;
}

.form.form--inline .form__input {
    display: inline-flex
}

.form div:first-child {
    margin-right: 15px;
}

.form--input {
    height: 100%;
}

.form__label {
    line-height: 32px;
    text-align: center;
}

.form__label span {
    line-height: normal;
    vertical-align: middle;
}

.slider {
    width: 20px;
    height: 320px;
    background: #f0f0f0;
    position: fixed;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.slider.in {
    width: 360px;
    height: 320px;
    display: block;
    opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.slider__wrapper {
    padding: 10px 15px;
}

.slider__footer {
    margin-top: 15px;
}

.wrapper {
    padding: 0 25%;
    margin-top: 115px;
}

.icon {
    top: 10px;
    margin-right: 10px;
}

.icon--clickable {
    cursor: pointer;
}

.icon--float-right {
    position: absolute;
    right: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}


/* RESPONSIVE CLASS */
/* XS SIZE */
@media (max-width: 576px) {
    .slider.in {
        width: 100%;
    }
 }

 @media (max-width: 768px) {
    .form {
        display: block;
    }

    .form.form--inline {
        display: block;
    }

    .form div:first-child {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .wrapper {
        padding: 0 10%;
    }
    .navbar__logo {
        display: none;
    }
 }